<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPCKdiprDl5HRZNUUuQxuGzaylfYIFpyM</string>
	<key>GCM_SENDER_ID</key>
	<string>633187273931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Aux</string>
	<key>PROJECT_ID</key>
	<string>auxserver-4224b</string>
	<key>STORAGE_BUCKET</key>
	<string>auxserver-4224b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633187273931:ios:d47f32fc56a2d322ce1f4e</string>
	<key>DATABASE_URL</key>
	<string>https://auxserver-4224b-default-rtdb.firebaseio.com</string>
</dict>
</plist>